:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-lime-green: hsl(74, 54%, 54%);
  --clr-dark-green: hsl(179, 98%, 18%);
  --clr-dark-red: hsl(0, 100%, 27%);
  --clr-salmon: hsl(6, 93%, 71%);

  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-bubblegum-sans: 'Bubblegum Sans', sans-serif;

  --radius-1: 5px;
  --radius-2: 30px;
  --shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);

  --space-40: 0.25rem;
  --space-80: 0.5rem;
  --space-200: 0.75rem;
  --space-400: 1rem;
  --space-600: 1.25rem;
  --space-700: 1.5rem;
  --space-1100: 2.5rem;

  --height-img: 21.875rem;
  --width-img: 16rem;

  --fw-medium: 500;
  --fw-bold: 700;

  --fs-200: 0.75rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-750: 1.625rem;
  --fs-800: 1.75rem;
  --fs-850: 1.875rem;
  --fs-1100: 2.5rem;
}

/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks! */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers */
ul {
  list-style-type: none;
}

body {
  font-family: var(--ff-open-sans);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  background: url('./images/black-and-white.jpeg') no-repeat center center /
    cover;

  height: 500px;
  /* text-align: center; */
  padding: var(--space-700) var(--space-1100);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: var(--ff-bubblegum-sans);
  font-size: var(--fs-1100);
  /* padding-block: var(--space-400); */
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-400);
}

.btn {
  border: transparent;
  border-radius: var(--radius-1);
  padding: var(--space-40) var(--space-80);
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
  box-shadow: var(--shadow);
  cursor: pointer;
}

.btn[aria-selected='true'] {
  background-color: var(--clr-lime-green);
}

.statement {
  width: 60%;
  color: var(--clr-white);
  /* padding: var(--space-400); */
  display: flex;
  flex-direction: column;
  gap: var(--space-80);
  position: relative;
  top: -150px;
  transition: top 0.5s ease-in;
}

.statement__title {
  font-size: var(--fs-850);
}

.statement__text {
  font-weight: var(--fw-medium);
}

.statement.slide {
  top: 0;
}

.main {
  flex: 1;
}

#content {
  padding: var(--space-1100);
}

.intro {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-400);
}

.intro__title,
.menu__title {
  font-size: var(--fs-850);
  text-transform: uppercase;
}

.btn--reserve {
  border-radius: var(--radius-2);
  box-shadow: none;
  padding: var(--space-400) var(--space-1100);
  background-color: var(--clr-dark-green);
  color: var(--clr-white);
}

/* .tabpanel__text-container {
  display: flex;
  gap: var(--space-700);
  padding-block: var(--space-700);
}

.tabpanel__text {
  flex: 1;
} */

.features {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1100);
  padding: var(--space-1100) 0;
}

.feature {
  height: var(--height-img);
  width: var(--width-img);
  font-size: var(--fs-850);
  display: flex;
  justify-content: center;
  align-items: end;
}

.feature--restaurant {
  background: url(./images/image-restaurant.jpeg) no-repeat center center /
    cover;
}
.feature--menu {
  background: url(./images/image-menu.jpeg) no-repeat center center / cover;
}
.feature--bar {
  background: url(./images/image-bar.jpeg) no-repeat center center / cover;
}
.feature--chef {
  background: url(./images/image-chef.jpeg) no-repeat center center / cover;
}
.feature--chocolates {
  background: url(./images/image-chocolates.jpeg) no-repeat center center /
    cover;
}
.feature--events {
  background: url(./images/image-events.jpeg) no-repeat center center / cover;
}

.feature__name {
  text-transform: uppercase;
  color: var(--clr-white);
}

.feature__name:hover {
  color: var(--clr-lime-green);
}

.footer__links {
  padding: var(--space-80) var(--space-1100);
  background-color: var(--clr-lime-green);
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.footer__list {
  /* list-style: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-40);
}

.footer__link {
  color: var(--clr-black);
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
  cursor: pointer;
  text-decoration: none;
}

.footer__link--upper {
  text-transform: uppercase;
}

.vertical-line {
  width: 1px;
  height: 20px;
  background-color: var(--clr-black);
}

.menu,
.lunch,
.dinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lunch__title,
.dinner__title {
  font-size: var(--fs-750);
  text-transform: uppercase;
  background-color: var(--clr-salmon);
  padding: var(--space-80) var(--space-600);
}

.dinner__title {
  background-color: var(--clr-lime-green);
}

.lunch__categories,
.dinner__categories {
  display: flex;
  padding: var(--space-700);
}

.lunch__categories-left,
.lunch__categories-right,
.dinner__categories-left,
.dinner__categories-right {
  padding: var(--space-700);
}

.lunch__categories-left,
.dinner__categories-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  border-inline-end: 2px solid var(--clr-salmon);
}

.dinner__categories-left {
  border-inline-end: 2px solid var(--clr-lime-green);
}

.lunch__categories-left,
.dinner__categories-left,
.lunch__categories-right,
.dinner__categories-right {
  flex: 1;
}

.lunch__subtitle,
.dinner__subtitle {
  font-size: var(--fs-700);
}

.lunch__categories-left .lunch__list,
.dinner__categories-left .dinner__list {
  text-align: right;
}

.lunch__list,
.dinner__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-400)
}

.lunch__list:not(:last-child),
.dinner__list:not(:last-child) {
  margin-block-end: var(--space-1100);
}

.lunch__item-name,
.dinner__item-name {
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.lunch__item-description,
.dinner__item-description {
  font-size: var(--fs-200);
}

.lunch__day,
.dinner__day {
  text-transform: uppercase;
  font-style: italic;
}
