/* ===================
   CSS VARIABLES
   =================== */

:root {
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-lime-green: hsl(74, 54%, 54%);
  --clr-dark-green: hsl(179, 98%, 18%);
  --clr-light-green: hsl(171, 36%, 71%);
  --clr-dark-red: hsl(0, 100%, 27%);
  --clr-salmon: hsl(6, 93%, 71%);
  --clr-light-blue: hsl(194, 97%, 42%);
  --clr-dark-grey: hsl(0, 0%, 16%);
  --clr-orange: hsl(24, 96%, 71%);
  --clr-very-light-grey: hsl(0, 0%, 94%);
  --clr-light-grey: hsl(0, 0%, 74%);

  /* Font family */
  --ff-cinzel: 'Cinzel', serif;
  --ff-philosopher: 'Philosopher', sans-serif;
  --ff-mulish: 'Mulish', sans-serif;
  --ff-aboreto: 'Aboreto', system-ui;
  --ff-gotu: 'Gotu', sans-serif;

  /* Font sizes */
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-450: 1.0625rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-750: 1.625rem;
  --fs-800: 1.75rem;
  --fs-850: 1.875rem;
  --fs-900: 2rem;
  --fs-1000: 2.25rem;
  --fs-1100: 2.5rem;

  /* Font weights */
  --fw-medium: 500;
  --fw-bold: 700;

  /* Spacing */
  --space-40: 0.25rem;
  --space-80: 0.5rem;
  --space-200: 0.75rem;
  --space-400: 1rem;
  --space-600: 1.25rem;
  --space-700: 1.5rem;
  --space-900: 2rem;
  --space-1100: 2.5rem;

  /* Width & Height */
  --height-img: 21.875rem;
  --width-img: 16rem;
  --height-header: 31.25rem;

  /* Utilities */
  --radius-1: 5px;
  --radius-2: 30px;
  --shadow: 0 0 18px 4px rgba(0, 0, 0, 0.6);
}

/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks! */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

/* Utility classes */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* Styles for Body */
body {
  font-family: var(--ff-gotu);
  font-size: var(--fs-450);
  display: flex;
  flex-direction: column;
}

/* Add background image to Header */
.header {
  justify-content: space-between;
  background: url('../images/image-restaurant-2.jpeg') no-repeat center center /
    cover;
  height: var(--height-header);
  padding: var(--space-700) var(--space-1100);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__title {
  font-family: var(--ff-aboreto);
  font-size: var(--fs-1100);
  color: var(--clr-white);
}

.nav__list {
  gap: var(--space-400);
}

/* Button styles */
.btn {
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.btn--small {
  border: transparent;
  border-radius: var(--radius-1);
  padding: var(--space-40) var(--space-80);
  font-size: var(--fs-500);
  box-shadow: var(--shadow);
}

/* Add styles for selected button */
.btn--small[aria-selected='true'] {
  background-color: var(--clr-lime-green);
}

/* Add animation to Statement text */
.statement {
  width: 60%;
  color: var(--clr-white);
  gap: var(--space-80);
  position: relative;
  top: -150px;
  transition: top 0.5s ease-in;
}

.statement.slide {
  top: 0;
}

.statement__title {
  font-size: var(--fs-850);
  font-family: var(--ff-aboreto);
}

.statement__text {
  font-weight: var(--fw-medium);
}

/* Main content takes up remaining height between header and footer */
.main {
  flex: 1;
}

#content {
  padding: var(--space-1100);
  background-color: var(--clr-very-light-grey);
}

/* Section styles */
.home,
.menu,
.about-us {
  gap: var(--space-1100);
}

/* Center content of each subsection */
.intro,
.story,
.about,
.contact {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  gap: var(--space-400);
}

.section-heading {
  font-size: var(--fs-1000);
  font-family: var(--ff-aboreto);
}

/* Apply rounded border to Reserve button */
.btn--rounded {
  border: transparent;
  border-radius: var(--radius-2);
  padding: var(--space-400) var(--space-1100);
  background-color: var(--clr-dark-green);
  color: var(--clr-white);
}

/* Homepage gallery styles */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-1100);
}

.feature {
  height: var(--height-img);
  width: var(--width-img);
  font-size: var(--fs-850);
  display: flex;
  justify-content: center;
  align-items: end;
}

/* Add different background images to each feature */
.feature--restaurant {
  background: url(../images/image-restaurant-1.jpeg) no-repeat center center /
    cover;
}
.feature--menu {
  background: url(../images/image-menu.jpeg) no-repeat center center / cover;
}
.feature--bar {
  background: url(../images/image-bar.jpeg) no-repeat center center / cover;
}
.feature--chef {
  background: url(../images/image-chef.jpeg) no-repeat center center / cover;
}
.feature--chocolates {
  background: url(../images/image-chocolates.jpeg) no-repeat center center /
    cover;
}
.feature--events {
  background: url(../images/image-events.jpeg) no-repeat center center / cover;
}

.feature__name {
  color: var(--clr-white);
  font-family: var(--ff-aboreto);
  font-weight: var(--fw-bold);
}

.feature__name:hover {
  color: var(--clr-light-blue);
}

/* Footer styles */
.footer__links {
  padding: var(--space-80) var(--space-1100);
  background-color: var(--clr-light-grey);
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: var(--space-40);
}

/* Remove underline from footer links */
.footer__link {
  color: var(--clr-black);
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
  cursor: pointer;
  text-decoration: none;
}

.footer__link--upper {
  text-transform: uppercase;
}

/* Add vertical line between footer links */
.vertical-line {
  width: 1px;
  height: 20px;
  background-color: var(--clr-black);
}

/* Menu page styles */
.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Menu button styles */
.btn--large {
  font-size: var(--fs-900);
  padding: var(--space-80) var(--space-600);
  font-family: var(--ff-cinzel);
}

/* Add different background colors to each menu button */
.btn--salmon {
  background-color: var(--clr-salmon);
}
.btn--green {
  background-color: var(--clr-lime-green);
}
.btn--blue {
  background-color: var(--clr-light-blue);
}

/* Style selected menu button differently */
.menu__btn[aria-selected='true'] {
  background-color: var(--clr-dark-grey);
  color: var(--clr-white);
}

/* Place categories side by side */
.categories {
  display: flex;
  padding: var(--space-700);
}

.category {
  padding: var(--space-700);
  flex: 1;
}

/* Create vertical border for each category */
.border-salmon {
  border-inline-end: 4px solid var(--clr-salmon);
}

.border-green {
  border-inline-end: 4px solid var(--clr-lime-green);
}

.border-blue {
  border-inline-end: 4px solid var(--clr-light-blue);
}

.category-name {
  font-size: var(--fs-800);
  font-family: var(--ff-philosopher);
  text-transform: uppercase;
}

/* Align text in left category close to the right border */
.category-left .items-list {
  text-align: right;
}

.items-list {
  gap: var(--space-400);
}

.items-list:not(:last-child) {
  margin-block-end: var(--space-1100);
}

.item-name {
  text-transform: uppercase;
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  font-family: var(--ff-philosopher);
}

.item-description {
  font-size: var(--fs-300);
  font-family: var(--ff-mulish);
}

.days {
  text-transform: uppercase;
  font-style: italic;
  font-weight: var(--fw-bold);
  letter-spacing: 1.5px;
}

/* Limit the width for big screens */
.story,
.about {
  max-width: 1000px;
}

/* Place image and text side by side */
.story__line,
.about__line {
  display: flex;
  gap: var(--space-600);
  text-align: justify;
}

.story__title {
  text-align: right;
}

.about__title {
  text-align: left;
}

.img-container {
  flex: 1;
}

/* Image fills up whole container */
.img-full {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.story__content,
.about__content {
  flex: 3;
  gap: var(--space-400);
}

/* Increase the width of the contact section */
.contact {
  padding: var(--space-600);
  background-color: var(--clr-light-green);
  width: 100%;
}

.contact__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.group {
  gap: var(--space-400);
}

.group-heading {
  font-size: var(--fs-700);
  font-family: var(--ff-cinzel);
}

.follow__list {
  gap: var(--space-80);
}

.follow__item {
  display: flex;
  gap: var(--space-80);
}

/* Remove underline from contact links */
.no-underline {
  color: var(--clr-black);
  cursor: pointer;
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: underline;
}
